#basketball {
	/*background-image: url("assets/images/hoop.jpg");
	background-repeat: repeat;*/
	background-color: #ffa500;
}

h1, p {
	text-align: center;
}

#heading {
	font-family: 'Faster One', cursive;
}

.row, .col-md-12 {
	font-size: 16px;
	margin-top: 10px;

}

#submit {
	margin-top: 20px;
	align-content: center;
}